<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>{{ page.title }}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    <script type="text/javascript">
      (function($){
        $(document).on('contextmenu', 'img', function() {
          return false;
        })
      })(jQuery);
    </script>
    <div> </div>
    <img class="logo" src="{{ "/assets/images/logo.png" | relative_url }}" alt="logo">
      <h1>hanu</h1>
      <p>ISTP</p>
      <a class="instapage" style="--clr:#0ea4b4" href="https://instagram.com/0xhannyu?utm_medium=copy_link" target="_blank">Artworks</a>
      <a class="anilist" style="--clr:#a230ca" href="https://anilist.co/user/Hannyu" target="_blank">Anilist</a>
      <a class="lastfm" style="--clr:#c20834" href="https://last.fm/user/hannyu0xh" target="_blank">LastFm</a>
  </body>
</html>
