<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="{{ "/assets/images/favicon.ico" | relative_url }}">
    <title>{{ page.title }}{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  </head>
  <body>
    <div> </div>
    <img class="logo" src="{{ "/assets/images/logo.png" | relative_url }}" alt="logo">
      <h1>hanu</h1>
      <p id="pty">ISTP</p>
      <a class="refbutton" style="--clr:#0ea4b4" href="https://instagram.com/0xhannyu?utm_medium=copy_link">Artworks</a>
      <a class="refbutton" style="--clr:#a230ca" href="https://anilist.co/user/Hannyu">Anilist</a>
      <a class="refbutton" style="--clr:#c20834" href="https://last.fm/user/hannyu0xh">LastFm</a>
  </body>
</html>
